
  
  
  
  
  <section class="add-user">
    <div class="container main-container">
      <h1 class="text-center">Add User</h1>
      
      <form class="form-group m-4" [formGroup]="users" (ngSubmit)="collectInfo()" >
        <div class="form-group mb-3 input-box">
            <i class="fa fa-user"></i>
            <input type="text"  #u1 aria-describedby="emailHelp" placeholder="Enter Name" formControlName="name" >
            <!-- <small *ngIf="!form.get('email').valid && form.get('email').touched"   class="form-text text-danger">Please Enter Valid Email</small> -->
            
          </div>
          <div  *ngIf="getform['name'].touched && getform['name'].invalid" class="text-danger ">
            <div class="error">
            Please Enter User Name
            </div>
               
             
             </div>
          <div class="form-group mb-3 input-box">
            <i class="fa fa-envelope"></i>
            <input type="email"  #u1 aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" >
            <!-- <small *ngIf="!form.get('email').valid && form.get('email').touched"   class="form-text text-danger">Please Enter Valid Email</small> -->
          </div>
          <div  *ngIf="getform['email'].touched && getform['email'].invalid" class="text-danger ">
            <div class="error">
            Please Enter Email Id
            </div>
            </div>
          <div class="form-group mb-3 input-box">
            <i class="fa fa-map-marker"></i>
            <input type="text"  #p2 placeholder="Address"  formControlName="address">
            <!-- <small id="emailHelp" class="form-text text-danger">Please Enter Password</small> -->
          </div>
          <div  *ngIf="getform['address'].touched && getform['address'].invalid" class="text-danger ">
            <div class="error">
            Please Enter Address
            </div>
            </div>
          <div class="form-group mb-3 input-box">
            <i class="fa fa-phone"></i>
            <input type="text"  #p2 placeholder="Phone Number"  formControlName="phone">
            <!-- <small id="emailHelp" class="form-text text-danger">Please Enter Password</small> -->
          </div>
          <div  *ngIf="getform['phone'].touched && getform['phone'].invalid" class="text-danger ">
            <div class="error">
            Please Enter Address
            </div>
            </div>
          <br>
          <div class="form-group mb-3 mt-0 input-btn">
            <!-- <button (click)="check(u1.value, p2.value)" type="submit" class="btn btn-primary">Sign In</button> -->
            <button  type="submit" class="btn btn-primary"  [disabled]="users.invalid">Add User</button>
            </div>
            <br>
          
         
        </form>
        </div>
  </section>
  